{% extends 'service/base.html' %}
{% load media_tags %}
{% block content %}
<div class="container">
    <div class="position-relative overflow-hidden text-center bg-body-tertiary">

        <div class="hero-image-container-sm ">
            <img src="{% media object.image %}" alt="Hero Banner" class="hero-image-top">

            <div class="col-md-8 p-lg-5 mx-auto my-5">

                <div class="hero-text">
                    <h1 class="display-3 fw-bold">{{ title }} массаж</h1>


                </div>

            </div>

        </div>
    </div>

    <main>
        <div class="row row-cols-1 mb-4 text-center d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="text-bg-dark pt-3 px-3  mb-4 px-md-5 text-center overflow-hidden flex-fill">
                    <h1 class="card-title pricing-card-title text-end">{{ price }}р. / 90 мин</h1>
                    <ul class="list-unstyled mt-3 text-start">
                        <p class="lead">{{ content }}</p>
                    </ul>


                    <ul class="list-unstyled mt-3 mb-4 text-end">

                    </ul>
                    <a class="w-50 btn btn-lg btn-outline-light mb-3"
                       href="{% url 'service:app_form' service_id=object.id %}">Записаться</a>
                    <a href="{% url 'service:update_form' object.pk %}" type="button"
                       class="w-50 mb-4 btn btn-lg btn-outline-primary">Редакитровать</a>
                    <form method="post" action="">
                        {% csrf_token %}
                        <a href="{% url 'service:services_delete' object.pk %}" type="button"
                           class="w-50 mb-4 btn btn-lg btn-outline-primary">Удалить</a>
                    </form>
                </div>
            </div>
        </div>


        <footer class="pt-2 my-md-2 pt-md-2 border-top">
            <div class="row">

            </div>
        </footer>


    </main>
</div>
{% endblock %}
