{% extends 'service/base.html' %}
{% load media_tags %}
{% block content %}
<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{ name }} {{ surname }}</h1>
        <p class="fs-5 text-body-secondary"></p>
    </div>
    <main>
        <div class="row row-cols-1 text-center d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <img src="{% media photo %}" alt="{{ name }}" class="img-fluid" style="width: 400px; height: 400px; object-fit: cover;">
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4 text-start">
                            <li>{{description}}</li>

                        </ul>
                        <ul class="list-unstyled mt-3 mb-4 text-end">

                            <li>Телефон для связи {{phone}}</li>

                        </ul>
                        <a href="{% url 'users:masseur_update' object.pk %}" type="button" class="w-100 mb-4 btn btn-lg btn-outline-primary">Редакитровать</a>
                        <form method="post" action="">
                            {% csrf_token %}
                            <a href="{% url 'users:masseur_delete' object.pk %}" type="button"
                                       class="w-100 mb-4 btn btn-lg btn-outline-primary">Удалить</a>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">

                </div>
            </footer>
        </div>

    </main>
</div>
{% endblock %}
