{% extends 'service/base.html' %}
{% load media_tags %}
{% block content %}
<div class="container">
    <div class="position-relative overflow-hidden text-center bg-body-tertiary">

        <div class="hero-image-container-sm ">
            <img src="{% media 'services/images/head.jpg' %}" alt="Hero Banner" class="hero-image">

            <div class="col-md-8 p-lg-5 mx-auto my-5">

                <div class="hero-text">
                    <h1 class="display-5 fw-bold">Ваши записи на массаж</h1>


                </div>

            </div>

        </div>
    </div>

    <main>
        {% include 'includes/inc_list.html' %}


    </main>
</div>
{% endblock %}
